<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
    <param-name>branch</param-name>
    <param-value>Insein;Hledan;Nokkalapa;Pathein;Taung-gyi;Myitkyinar</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>Admin</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>OurSchool@dmin</param-value>
  </context-param>
</web-app>